<div class="all">
    <div class="login-box " *ngIf="otpsubmitted">
        <div class="user-box">
            <i class="fas fa-user-tie"></i>
        </div>
        <h1>Forget Password</h1>
        <form (ngSubmit)="usernameSubmit()">
            <p>Username</p>
            <input type="text" [(ngModel)]="user.username" name="username" placeholder="Username" [disabled]="!isDisabled" required>
            <input type="submit" name="submit" value="Submit your username">
        </form>
        <span>{{usernameResponse}}</span>
        <form (ngSubmit)="otpSubmit()">
            <p>OTP sent to your mail</p>
            <input type="password" [(ngModel)]="otp" name="password" placeholder="Enter OTP " [disabled]="isDisabled" >
            <input type="submit" name="submit" value="Login">
        </form>
    </div>
    <div class="change-password-box " *ngIf="!otpsubmitted">
        <div class="user-box">
            <i class="fas fa-user-tie"></i>
        </div>
        <h1>Forget Password</h1>
        <form (ngSubmit)="passwordSubmit()">
            <p>Enter your new password</p>
            <input type="password" [(ngModel)]="user.password" name="password" placeholder="Your new password" required>
            <input type="password" [(ngModel)]="confirmpassword" name="confirmpassword" placeholder="Confirm your new Password" required>
            <input type="submit" name="submit" value="Change your password">
        </form>
        <span>{{passwordResponse}}</span>
    </div>
</div>