 <h2>Weekly Coding Challenge #1: Sign in/up Form</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form (ngSubmit)="onsignup()" ngNativeValidate>
			<h1>Create Account</h1>
			<span>or use your ID for registration</span>
			<input type="text" placeholder="ID" [(ngModel)]="signupuser.userId" name="userId" required />
			<input type="text" placeholder="Name" [(ngModel)]="signupuser.name" name="name"  required/>
			<input type="text" placeholder="Username" [(ngModel)]="signupuser.username" name="username" required/>
	        <input type="password" placeholder="Password" [(ngModel)]="signupuser.password" name="password" required />
	        <input type="email" placeholder="Email" [(ngModel)]="signupuser.email" name="email" required />
      <span>Choose your Role</span>
      <select [(ngModel)]="signupuser.role" name="role" required>
        <option>Teacher</option>
        <option>Student</option>
      </select>
      <button  id="signup" type="submit">Sign Up</button>
      <span *ngIf="signupvisibility"><i class="fa fa-exclamation-circle"></i> {{signupmessage}}</span>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form (ngSubmit)="onlogin()" ngNativeValidate>
			<h1>Sign in</h1>
			<span>or use your account</span>
			<input type="text" placeholder="Username" [(ngModel)]="loginuser.username" name="username" required/>
			<input type="password" placeholder="Password" [(ngModel)]="loginuser.password" name="password" required/>
			<a routerLink="../forget-password">Forgot your password?</a>
	  <button>Sign In</button>
	  <br>
      <span *ngIf="loginvisibility"><i class="fa fa-exclamation-circle"></i> {{loginmessage}}</span>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="#">Kshitiz Agrawal</a>
	</p>
</footer> 